# Metrics
DEMO_RS_METRICS_PORT=
DEMO_RS_METRICS_HOST=

# Datasource
DEMO_RS_DATASOURCE_HOST=
DEMO_RS_DATASOURCE_PORT=
DEMO_RS_DATASOURCE_DB=
DEMO_RS_DATASOURCE_PASSWORD=
DEMO_RS_DATASOURCE_USERNAME=

